{% extends 'base.html' %} 

<htm>
    <head>
        <h1> Add New Post!</h1>
    </head>
<body>
    {% block content %} 
    <br/>
    {% if user.is_authenticated %}
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <button class="btn btn-secondary">Submit</button>

        </div>
        <!---Now writing javascript code to automaticall select user and make select unchangable-->
        <script>
            var d_value="{{user.id}}";
            document.getElementById('name').value=d_value;
        </script>
    {% endif %}
    {% endblock %}
</body>
</htm>