{% extends 'base.html' %} 

<htm>
    <head>
        <h1> Add New Post!</h1>
    </head>
<body>
    {% block content %} 
    <br/>
    {% if user.is_authenticated %}
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">Add Category</button>

        </div>
        <!---Now writing javascript code to automaticall select user and make select unchangable-->
    {% endif %}
    {% endblock %}
</body>
</htm>