{% extends 'base.html' %} 

<html>
    <head>
        <h1> Add New Post!</h1>
        
    </head>
<body>
    {% block content %} 
    <br/>
    {% if user.is_authenticated %}
        <div class="wrapper">
            <h3>Author: {{user.first_name}} {{user.last_name}}</h3>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-secondary">Submit</button>

        </div>
        
    {% endif %}
    <script>
        var d_value="{{user.id}}";
        document.getElementById('id_name').value=d_value;
    </script>
    {% endblock %}
    
</body>
</html>